<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kysymykset</title>
        <meta charset="UTF-8" />
    </head>
    
    <body style="font-family: Arial">
        <h1>Kysymykset</h1>
        
        <ul style="list-style-type:none; padding: 0;">
            <li th:each="piilotettu: ${asettelu}">
                <span style="font-size: 22px; font-weight: bold;" th:text="${piilotettu.nimi}"></span>
                <ul style="list-style-type:none; padding-left: 1em;">
                    <li th:each="kurssi: ${piilotettu.kurssit}">
                        <span style="font-size: 18px; font-weight: bold;">Kurssi: </span>
                        <span style="font-size: 18px; font-weight: bold;"  th:text="${kurssi.nimi}"></span><br/>
                        <ul style="list-style-type:none; padding-left: 1em;">
                            <li th:each="aihe: ${kurssi.aiheet}">
                                <span style="font-size: 18px;">Aihe:</span>
                                <span style="font-size: 18px;"  th:text="${aihe.nimi}"></span>
                                <ul style="list-style-type:none; padding-left: 1em;">
                                    <li th:each="kysymys: ${aihe.kysymykset}">
                                        <a th:href="@{~/kysymykset/{id}(id=${kysymys.id})}" th:text="${kysymys.kysymysteksti}"></a>
                                        <form style="padding-top: 5px;" th:action="@{~/kysymykset/delete/{id}(id=${kysymys.id})}" method="POST">
                                            <input type="submit" value="Poista"/>
                                        </form>
                                        <br/>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <br/>
        <h3>Luo uusi kysymys</h3>
        <form method="POST" action="/kysymykset">
            <table>
                <tbody>
                    <tr>
                        <td>Kurssi: </td>
                        <td>
                            <input type="text" name="kurssi" maxlength="255"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Aihe: </td>
                        <td>
                            <input type="text" name="aihe" maxlength="255"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Kysymysteksti: </td>
                        <td>
                            <input type="text" name="kysymysteksti" maxlength="1000" required="required"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Luo kysymys"/><br/>
            (Huom. kysymykset joilla ei ole vähintään 1 oikea vastaus piilotetaan)
        </form>
    </body>
</html>
